#menu li > a {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

#menu form > button {
  font-size: 18px;
  font-weight: bold;
}

.text-custom1 {
  background-color: #ffffff;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 10px;
}

.text-custom2 {
  background-color: #ffffff;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 10px;
}

.textoHome {
  margin: 50px;
  text-align: center;
}